@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}



.btn-my {
    color: white;
    background: crimson;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 30px 0;
    transition: .7s ease;
}

.btn-my:hover {
    background: #fff;
    color: black;
}
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 5rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 40rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}
.slider{
    width: 100%;
    height: 100%;
    background: url("../img/ноутбук-apple-macbook-air-m-и-свой-логотип-черно-белую-фотографию-стаффорд-211198309.jpg")center/cover,no-repeat;
}
.slider2{
    width: 100%;
    height: 100%;
    background: url("../img/iphone-12-mini-black-home-screen-full-2-scaled.webp")center/cover,no-repeat;
}
.slider3{
    width: 100%;
    height: 100%;
    background: url("../img/stol-k03.jpg")center/cover,no-repeat;
}
.img-logo{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../img/Web-design.jpg") center/cover,no-repeat;
}
.img-logo2{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../img/56842795_574221616419552_4351947325740941312_n.jpg") center/cover,no-repeat;
}
.img-logo3{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: url("../img/imagen11.png") center/cover,no-repeat;
}
.gellery{
    width: 500px;
    height: 500px;
    border-radius: 30px;
}
.pic{
    background: url("../img/advertising-strategy-marketing-investment-meeting-team-work-free-vector.webp")center/cover;
}
.pic2{
    background: url("../img/Messaging_fun-rafiki.svg")center/cover;
}
.pic1{
    background: url("../img/Creative team-cuate.svg")center/cover;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    padding-top: 75px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
     /*rtl:remove */
    letter-spacing: -.05rem;
}
